.wrapper {
    display: grid;
    grid-template-rows: repeat(5, 2rem);
    grid-template-columns: repeat(4, 3rem);
    gap: 1rem;

    @media screen and (max-width: 500px) {
        grid-template-rows: repeat(5, 3rem);
    }

    >button:nth-last-child(2), >button:nth-last-child(1) {
        grid-column: span 2;
    }

}